/* PC、スマホ共通スタイル */
body {
  font-family: "Source Sans Pro", "Hiragino Kaku Gothic ProN", Meiryo, Arial,
    sans-serif;
    min-width: 375px; /*追加欄*/
    margin: 0; /*追加欄*/
}

p {
  font-size: 15px;
}

#main-visual {
  width: 100%; /*追加欄*/
  overflow: hidden; /*追加欄*/
}

#main-visual > img {
  width: 100%; /*追加欄*/
  max-width: 100%; /*追加欄*/
  height: auto; /*追加欄*/
}

/*================
PC用のスタイル 
=================*/
@media screen and (min-width: 768px) {
  /* 横幅設定 */
  body {
    max-width: 1080px;
    min-width: 960px;
    margin: 0 auto; /*追加欄*/
  }

  /* ヘッダー */
  header {
    display: flex;
    justify-content: space-between;
  }

  /* ナビゲーションのレイアウト */
  #nav-pc {
    text-align: right;
    font-size: 14px;
    padding-top: 15px;
  }

  /* ナビゲーションのリンクの装飾設定 */
  #nav-pc>a {
    text-decoration: none;
    margin-left: 20px;
  }

  #nav-pc>a:link {
    color: #0d0d0d;
  }

  #nav-pc>a:visited {
    color: #0d0d0d;
  }

  #nav-pc>a:hover {
    color: #0d0d0d;
    text-decoration: underline;
  }

  #nav-pc>a:active {
    color: #0d0d0d;
  }

  #menu-sp {
    display: none;
  }

  #nav-sp {
    display: none;
  }

}

@media screen and (max-width:767px) {

  #nav-pc {
    display: none;
  }

  #menu-sp {
    float: right;
    padding: 0;
    max-width: 100%; /*追加欄*/
    height: auto; /*追加欄*/
  }

  #menu-sp img {
    max-width: 100%; /*追加欄*/
    height: auto; /*追加欄*/
  }

  #nav-sp {
    width: 100%; /*追加欄*/
    max-width: 100%; /*追加欄*/
    background-color: #ce933e;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: none;
    z-index: 100;
  }

  #nav-sp ul {
    list-style-type: none; /*追加欄*/
    padding: 0;
    line-height: 2.0;
  }

  #nav-sp li {
    margin-left: 20px; /*追加欄*/
    margin-right: 20px;
  }

  #close {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  #logo-sp {
    margin: 80px 0 30px 20px;
  }

  #nav-sp a {
    display: block;
    text-decoration: none;
  }

  #nav-sp a:link , #nav-sp a:visited {
    color: #ffffff;
  }


  #nav-sp a:hover ,  #nav-sp a:active {
  text-decoration: underline;
  color: #ffffff;
  }


  #nav-sp .menu {
    background-image: url("images/arrow.png");
    background-repeat: no-repeat;
    background-position: right top;
  }

}